{{> header title='Boilerplate'}}

{{> atoms/text}}

{{> block conteudo='novo'}}

{{#times 5}}
    <p>hi</p>
{{/times}}

<div >
<p class="turtle">hellox</p>
</div>

<div class="duck">
  <p>duckie</p>
</div>

{{> footer}}
